doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title #{community}
    link(href="css/style.css", rel="stylesheet", type="text/css")
    link(href="//fonts.googleapis.com/css?family=Lato:300,400,700,900,700italic|Open+Sans:700italic,400,600,300,700,800", rel="stylesheet", type="text/css")
  body
    #wrapper
      .main
        .header
          h1
            strong #{community}
          h2 #{community}
        .content
          .information
            <p>You can invite these people:</p>
            <ul style="color: blue;">
            each email in emails
              li= email
            </ul>
            <button id='send-invites'>Send invites</button>
            <p>Maybe you want to <a href="/logout">log out</a>?</p>
    script.
      //- var tokenRequired = #{tokenRequired};
      var button = document.getElementById('send-invites');
      //- var slackToken = document.getElementById('slack-token');
      button.addEventListener('click', function(evt) {
        //- if (!emails || emails.length) {
        //-   evt.preventDefault();
        //- }
        //- if (tokenRequired && !slackToken.value) {
        //-   evt.preventDefault();
        //- }

        var form = document.createElement("form");
        form.setAttribute("method", 'POST');
        form.setAttribute("action", '/invite');

        var params = "#{emails}".split(',')

        for(var i=0; i < params.length; i++) {
          var hiddenField = document.createElement("input");
          hiddenField.setAttribute("type", "hidden");
          hiddenField.setAttribute("name", "email_" + i);
          hiddenField.setAttribute("value", params[i]);

          form.appendChild(hiddenField);
        }

        document.body.appendChild(form);
        form.submit();
      });
